@import './viewport';

%font-h2 {
  color: $color-text-dark;
  font-size: 2.25rem;
  font-weight: normal;
}

%font-regular {
  font-size: 1.125rem;
}

%font-small {
  font-size: 0.75rem;
}

%font-small-md {
  font-size: 0.9rem;
}

@media screen and (max-width: $viewport-sm-md) {

  %font-h2 {
    font-size: 1.8rem;
  }

  %font-regular {
    font-size: 1.3rem;
  }
}
