$viewport-4k: 3840px;       //  4k
$viewport-2k: 2560px;       //  2k

$viewport-xlg: 1920px;      // xlg
$viewport-xlg-sm: 1680px;   // xlgsm

$viewport-lg: 1440px;       // lg
$viewport-lg-md: 1366px;    // lgmd
$viewport-lg-sm: 1280px;    // lgsm

$viewport-md: 992px;        // md
$viewport-md-md: 767px;     // mdmd
$viewport-md-sm: 567px;     // mdsm

$viewport-sm: 450px;        // sm
$viewport-sm-md: 400px;     // smmd
$viewport-sm-sm: 375px;     // smsm