/**
 *  Buttons
 */
 button {
  cursor: pointer;
}

button.btn-clear {
  background-color: transparent;
  border: 1px solid transparent;
}

 button[disabled] {
  cursor: not-allowed;
}

.btn-transparent {
  background-color: transparent;
  border: none;
  display: flex;
}

@media screen and (max-width: $viewport-tablet-md) {
  button {
    font-size: 1rem;
  }
}