input {
  @extend %font-regular;
  background-color: $color-secondary-light;
  border: 1px solid $color-secondary-border;
  box-sizing: border-box;
  color: $color-text-regular;
  display: block;
  margin-top: 5px;
  outline: $color-secondary-border;
  padding: 8px;
  width: 100%;
}

label {
  @extend %font-small-md;
  color: $color-text-regular;
}

ul.input-msg {
  @extend %font-small-md;
  color: $color-text-regular;
  margin-block-start: 0;
  padding-inline-start: 0;
  border: 1px solid $color-danger;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

ul.input-msg li {
  list-style: none;
}